#news {
    height: 900px;
    border-bottom: 1rem solid #ffcd1c;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
}
.containerNews {
    width: 300px;
    display: inline-block;
}