header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fucsia;
    height: 8rem;
    z-index: 3;
    padding: 0 50px;
    img {
        height: 5rem;
        margin: 0 5rem;
    }
}
nav {
    ul {
        display: flex;
        li {
            font-size: 1.5rem;
            margin: 0 2rem;
            a {
                color: $blanco;
                padding: 1rem;
            }
        }
    }
}
form {
    padding: 3rem;
}
input {
    height: 3rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
}
label {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
}
textarea {
    height: 100px;
    padding: 0.5rem;
    font-size: 1.5rem;
}
h1 {
    color: $blanco;
    font-size: 4rem;
    width: 32%;
    margin: 3rem;
}
h2 {
    font-size: 4.5rem;
    margin: 2rem 0;
    font-weight: 600;
}
h3 {
    display: inline;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $verde;
    margin: 3rem 0 1.2rem 0;
}
p {
    font-size: 2rem;
    margin-bottom: 3rem;
}
[type=checkbox] {
    @include hidden;
}