//Inicio
#inicio {
    background-color: $fucsia;
    height: 500px;
    @include alignAll;
    flex-direction: column;
    
    #logo-large {
        height: 200px;
    }
}
#nosotras {
    .button {
        margin: 2rem 0 2rem 85%;
    }
}