#inicio {
    background-color: $fucsia;
    height: 500px;
    @include alignAll;
    flex-direction: column;
    
    #logo-large {
        height: 200px;
        margin-top: 100px;
    }
}
#nosotras {
    .button {
        margin: 2rem 0 2rem 85%;
    }
    h2 {
        color: $celeste;
    }
}
#juegos {
    margin-top: -20px;
    background-color: $violeta;
    h2, p {
        color: $blanco;
    }
    h2 {
        padding-top: 3rem;
    }
}
#eventos {
    h2, p {
        color: $verde;
    }
}
#faq {
    background-color: $verde;
    margin: -6.5rem auto 0 auto;
}
#bar4 {
    margin-top: -6.5rem;
}
#contacto {
    background-color: $background;
    padding-top: 150px;
    transform: translateY(-150px);
    z-index: -1;
    position: relative;

    img {
        width: 80%;
        margin: 1rem 0 5rem 8%;
    }
}