* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #43358b;
}
:root {
    font-size: 8px;
    font-family: "Roboto", sans-serif;
}

//Variables
$fucsia: #e4097f;
$celeste: #00a1e2;
$verde: #b0cb1e;
$violeta: #733566;
$azul: #005c81;
$background: #d7e2e6;
$blanco: #fff;

//Mixins
@mixin alignAll {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin hidden {
    display: none;
}

